[Unit]
Description=MotePi
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/MotePi/code/MotePi.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
